{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
</head>
<body>
  <header>
    <h1>My Blog</h1>
    <nav>
      <ul>
      <a href="{% url 'blog_index' %}">Home</a>
      <form class="d-flex" role="search" method="POST" action="{% url 'search-view' %}">
        {% csrf_token %}
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          name="search_query"
          required aria-label="Search"
        >
      <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
      </ul>
    </nav>
  </header>

  <hr>
  {% block page_title %}{% endblock page_title %}
  {% block page_content %}{% endblock page_content %}
  <footer>
    <a href="{% url 'blog_about' %}">About</a>
    <a href="#contact">Contact</a>
  </footer>
</body>
</html>
