{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>My Blog</title>
  <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
</head>
<body>
  <header>
    <h1>My Blog</h1>
    <nav>
      <a href="{% url 'blog_index' %}">Home</a>
      <a href="#authors">Authors</a>
      <input type="search" name="cat_search" id="cat_search" placeholder="Search Tags">
      <a href="#contact">About</a>
      <a href="#contact">Contact</a>
    </nav>
  </header>

  <hr>
  {% block page_title %}{% endblock page_title %}
  {% block page_content %}{% endblock page_content %}
</body>
</html>
